<footer class="footer" role="contentinfo">


		<ul class="footer__logolist">
			<li class="footer__logolist-item">
				<a class="footer__logolist-logo footer__logolist-logo--nrk" href="#">NRK</a>
			</li>
			<li class="footer__logolist-item">
				<a class="footer__logolist-logo footer__logolist-logo--met" href="#">MET</a>
			</li>
		</ul>
	<ul class="footer__list">
		<li class="footer__list-item"><a class="footer__list-link" href="#">Choose language / Bytt språk</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Desktopversjonen av Yr</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Yr på Twitter</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Yr på Facebook</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Om Yr</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Samarbeidspartnere og kilder</a></li>
		<li class="footer__list-item"><a class="footer__list-link" href="#">Kontakt oss</a></li>
	</ul>



<div class="footer__foot">
	<p class="footer__foot-text">Yr er et samarbeid mellom NRK og Meteorologisk institutt.</p>


<ul class="footer__foot-list">
	<li>Redaktør: Ingrid Støver Jensen</li>
	<li>Ansvarlig redaktør: Thor Gjermund Eriksen</li>
	<li>Meteorologisk ansvarlig: Anton Eliassen</li>
</ul>

<p class="footer__foot-text">Opphavsrett © NRK og Meteorologisk institutt 2007-2015</p>

</footer>

<!--
<p><a href="{{ homepage }}admin">Admin</a>, <a href="{{ homepage }}stilguide">Styleguide</a></p>
-->
