    <div class="menu-wrap">

      <h3 class="menu__title">Mine steder</h3>
      <nav class="menu">
        {{ nav from="mine-steder" max_depth="2" }}
        <a class="nav menu__link" href="{{ url }}" {{ if is_current }} class="current"{{ endif }}>
              {{ title }}
        </a>
        {{ /nav }}


    </nav>
    <button class="close-button" id="close-button">Close Menu</button>
  </div>
</div>

<div class="header__menu">
<button class="menu-button" id="open-button">Mine steder</button>
