
<ul class="home__daylist">
  <li class="home__daylist-item">
    <h3 class="home__daylist-day">I dag</h3>
    <p class="home__daylist-temp">12<span class="home__daylist-degree">º</span></p>
    <figure class="home__daylist-symbol home__daylist-symbol--01">symbol</figure>
  </li>
  <li class="home__daylist-item">
    <h3 class="home__daylist-day">Søndag</h3>
    <p class="home__daylist-temp">12<span class="home__daylist-degree">º</span></p>
    <figure class="home__daylist-symbol home__daylist-symbol--02">symbol</figure>
  </li>
  <li class="home__daylist-item">
    <h3 class="home__daylist-day">Mandag</h3>
    <p class="home__daylist-temp">12<span class="home__daylist-degree">º</span></p>
    <figure class="home__daylist-symbol home__daylist-symbol--03">symbol</figure>
  </li>
</ul>
