




/* Menu Button */
.menu-button {
	position: relative;
	z-index: 1000;
	background: transparent;
	padding: 0 0 0 20px;
	margin-top: 10px;
	border: none;
	&:hover{
		color: $blue;
		&:before{
			background: url("../gfx/icon-favourite--hover.svg") no-repeat;
		}
	}
	&:active{
		color: $blue--light;
	}
	&:before{
		position: absolute;
		left: -3px;
		top: 0px;
		content: '';
		display: inline-block;
		margin-right: 3px;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background: url("../gfx/icon-favourite--small.svg") no-repeat;
		vertical-align: middle;
	}
}

/* Close Button */
.close-button {
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: $white;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */

.menu-wrap {
	position: absolute;
	right: 0;
	z-index: 9999;
	width: 300px;
	height: 100%;
	background: $grey--dark;
	padding: 2.5em 1.5em 0;
	transform: translate3d(310px,0,0);
	transition: transform 0.2s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.31);
}

.menu__list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu__title{
	font-size: $h5-size;
	color: $white;
	margin: 0;
	border-bottom: 1px solid lighten($grey--dark, 5%);
	line-height: 3em;
}

.menu__list-item{
	margin: 0;
}

.menu__link{
	text-decoration: none;
	line-height: 3em;
	color: $white;
	display: block;
	border-bottom: 1px solid lighten($grey--dark, 5%);
}

.menu,
.icon-list {
	height: 100%;
}


/* Shown menu */


.show-menu .menu-wrap {
	display: block;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}



.show-menu .icon-list,
.show-menu .icon-list a {
	display: block;;
	-webkit-transform: translate3d(0,0,0);
//	transform: translate3d(0,0,0);
//	-webkit-transition: -webkit-transform 0.8s;
//	transition: transform 0.8s;
//	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
//	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
/*

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
*/
