// Header styles


.shortCutMenuItem{
  position: absolute;
  left: -100px;
  top: -100px;
  &:hover, &:active, &:focus{
    left: 50%;
    top: 2px;
    outline: none;
    color: $white;
    span{
      left: -50%;
      position: relative;
      background: $grey--dark;
      padding: $spacing--xs $spacing--sm;

    }
  }
}

.header{
  border-bottom: 1px solid $grey--semilight;
  &--main{
    margin-top: 0px;
    padding: 0 $spacing--sm $spacing--sm $spacing--sm;
    background-color: $white;
    border-bottom: 1px solid $border--light;
    width: 100%;
    height: 100px;
  }
  &__head{
    float: left;
    width: 100%;
  }
  &__foot{
    float: left;
    width: 100%;
  }
  &__logo{
    background-image: url("../gfx/yr-logo.svg");
    background-position: center;
    background-color: $blue--light;
    display: block;
    float: left;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    line-height: 1000px;
    overflow: hidden;
    &:hover, &:focus{
      background-color: darken($blue--light, 5%);
      outline: none;
    }
    &:active{
    }
  }
  &__menu{
    float: right;
    margin-bottom: $spacing--xs;
  }
  &__menu-link{
    text-decoration: none;
    color: $text--dark;
  }
}
