
<div class="styleguide__module">

<h2 class="styleguide__title">Knapper</h2>


<div class="grid grid--center">
  <div class="grid__item one-half">

<a class="btn btn--primary btn--large btn--soft">Stor primærknapp</a>

<a class="btn btn--primary btn--soft">primærknapp</a>

<a class="btn btn--primary btn--small btn--soft">Liten primærknapp</a>

</div>

<br /><br /><br />

<div class="grid__item one-half">

<a class="btn btn--secondary btn--large btn--soft">Stor knapp</a>

<a class="btn btn--secondary btn--soft">Knapp</a>

<a class="btn btn--secondary btn--small btn--soft">Liten knapp</a>

</div>

<br /><br /><br />


<div class="grid__item one-half">

<a class="btn btn--primary btn--large btn--soft btn--inactive">Stor inaktiv knapp</a>

<a class="btn btn--primary btn--soft btn--inactive">Inaktiv knapp</a>

<a class="btn btn--primary btn--small btn--soft btn--inactive">Liten inaktiv knapp</a>
</div>

</div>
</div>
