
<div class="styleguide__module">

<h2 class="styleguide__title">YR farger</h2>

<div class="grid grid--center">

<div class="grid__item one-sixth lap-one-third palm-one-whole">
    <div class="styleguide__element swatch">
  <div class="swatch__color swatch__color--swatch1"></div>
  <h4 class="styleguide__subtitle">Profilfarge</h4>
  <p class="styleguide__value">#00B9F1</p>
  </div>    </div>

  <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch2"></div>
<h4 class="styleguide__subtitle">Aktiv farge</h4>
<p class="styleguide__value">#007899</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch3"></div>
<h4 class="styleguide__subtitle">Forgrunn 1</h4>
<p class="styleguide__value">#26292A</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch4"></div>
<h4 class="styleguide__subtitle">Forgrunn 2</h4>
<p class="styleguide__value">#686A6C</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch5"></div>
<h4 class="styleguide__subtitle">Bakgrunn 1</h4>
<p class="styleguide__value">#2E3D42</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch6"></div>
<h4 class="styleguide__subtitle">Bakgrunn 1</h4>
<p class="styleguide__value">#F5F5F5</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch7"></div>
<h4 class="styleguide__subtitle">Temperatur pluss</h4>
<p class="styleguide__value">#C60000</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch8"></div>
<h4 class="styleguide__subtitle">Temperatur minus / Nedbør</h4>
<p class="styleguide__value">#0062BF</p>
</div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
        <div class="styleguide__element swatch">
<div class="swatch__color swatch__color--swatch9"></div>
<h4 class="styleguide__subtitle">Vind - Storm</h4>
<p class="styleguide__value">#9B009B</p>
</div>
    </div>

</div>



</div>
