<div class="styleguide__module">
  <h2 class="styleguide__title">YR logo</h2>

  <div class="grid grid--center">
  <div class="grid__item one-sixth lap-one-third palm-one-whole">
      <div class="styleguide__element">

      <img src="{{ _site_root }}_themes/yr/gfx/yr-logo.svg" class="photo" />
      <h4 class="styleguide__subtitle">Hovedlogo</h4>

      </div>
    </div>


    <div class="grid__item one-sixth lap-one-third palm-one-whole">
      <div class="styleguide__element">

      <img src="{{ _site_root }}_themes/yr/gfx/yr-logo--sh.svg" class="photo" />
      <h4 class="styleguide__subtitle">Logo s/h</h4>

      </div>
    </div>

    <div class="grid__item one-sixth lap-one-third palm-one-whole">
      <div class="styleguide__element">

      <img src="{{ _site_root }}_themes/yr/gfx/yr-logo--inv.svg" class="photo" />
      <h4 class="styleguide__subtitle">Logo invertert</h4>

      </div>
    </div>


  </div>
</div>
