
<div class="styleguide__module">

<h2 class="styleguide__title">Typografi</h2>

<div class="grid grid--center">

<div class="grid__item one-half palm-one-whole">

<h1>Blodrød supermåne begeistret astronomene</h1>
<p class="styleguide__value">Stor tittel (h1) / 42px</p>

<br /><br /><br />

<h2>Mytene om verdens undergang</h2>
<p class="styleguide__value">Medium tittel / 27px</p>

<br /><br /><br />

<h3>Mytene om verdens undergang</h3>
<p class="styleguide__value">Liten tittel / 23px</p>

<br /><br /><br />

<h4>Mytene om verdens undergang</h4>
<p class="styleguide__value">Liten tittel / 23px</p>

<br /><br /><br />

<p>Supermåne kaller vi det når det er fullmåne samtidig som månen er så nær jorden som den kommer, noe som gjør at den ser ekstra stor ut. Denne gangen skjedde det altså samtidig som det var total måneformørkelse, det vil si at jorden lå mellom solen og månen og skygget for lyset. Slike er det ikke ofte en ser i Norge. Sist var i 1982, men den var ikke like stor som nattas fenomen.</p>
<p class="styleguide__value">Brødtekst / 18px</p>


<br /><br /><br />

<p><small>Supermåne og total måneformørkelse sett fra Oslo sent natt til mandag. En total måneformørkelse oppstår når sola, jorda og månen er på linje i verdensrommet og månen ligger helt i skyggen fra Jorda. Når supermåne og total måneformørkelse forekommer samtidig kalles fenomenet litt uhøytidelig for supermåneformørkelse.
</small></p>
<p class="styleguide__value">Liten tekst / 15px</p>






</div>


</div>

</div>
